{
  "server": {
    "host": "0.0.0.0",
    "path": "/hooks/*",
    "port": 8181
  },
  "secret": "your passphrase",
  "sites": [
    {
      "name": "some site",
      "branch": "master",
      "build_path": "./data/somesite/build",
      "publish_path": "./data/somesite/site",
      "repro": "https://github.com/somesiteowner/somesite.git",
      "env": {
        "JEKYLL_ENV": "production"
      }
    },
    {
      "name": "some other site",
      "branch": "master",
      "build_path": "./data/someothersite/build",
      "publish_path": "./data/someothersite/site",
      "repro": "https://github.com/somesiteowner/someothersite.git",
    }
  ]
}